<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>YunusTicket - Bus Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="../static/commonStyles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(7,3,12,0.75);">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/login'}">YunusTicket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/login'}">Home</a>
                </li>
            </ul>

        </div>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{'/login'}">Go Back</a>
            </li>
        </ul>
    </div>
</nav>


<div style="font-size: 40px; color: white; margin-top: 120px; background-color: rgba(0,0,0,0.25); display: flex; justify-content: space-around;">
    <div>
        <p>Line : <span th:text="${pageTitle.split(' ')[1]}" >UNKNOWN LINE</span></p>
        <p>Line Price : <span th:text="${price}" >0.0</span></p>
    </div>
</div>
<script>
    function navigateToPage(pageName) {
        window.location.href = "/" + pageName;
    }
</script>

<!--  This is for background. -->
<style th:inline="text">
    body{
        background: url(https://images.unsplash.com/photo-1538054274783-71563ab54168?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80) no-repeat center center fixed;
        background-size: cover;
    }
</style>

</body>
</html>