<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>YunusTicket - Register Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="../static/commonStyles.css">
    <script>
        function navigateToPage(pageName) {
            window.location.href = "/" + pageName;
        }
        function showSuccessLabel() {
            var successLabel = document.getElementById("successLabel");
            successLabel.style.display = "block";

            setTimeout(function () {
                successLabel.style.display = "none";
            }, 4000);
        }

        function navigateToRegister() {
            window.location.href = "/register";
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(7,3,12,0.75);">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">YunusTicket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/'}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="width: 500px; height: 500px; display: flex; justify-content: space-around; margin-left: auto; margin-right: auto; margin-top: 100px;">
    <form action="/registerForm" method="post">
        <div class="mb-3">
            <label for="name1" class="form-label" style="color: white; font-size: 20px;">Name</label>
            <input type="text" class="form-control" id="name1" aria-describedby="emailHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" style="color: white; font-size: 20px;">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="color: white; font-size: 20px;">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>

        <button type="submit" class="btn btn-dark btn-primary btn-block" style="font-size: 20px;" onclick="showSuccessLabel()">Register</button>
    </form>
</div>

<!--  This is for background. -->
<style th:inline="text">
    body{
        background: url(https://images.unsplash.com/photo-1538054274783-71563ab54168?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80) no-repeat center center fixed;
        background-size: cover;
    }
</style>

</body>
</html>